<!--<div class="mini-block">
  <button (click)=toggleDisplay() [hidden]="isShow">Gestion des articles</button>
  <button (click)="toggleDisplay()" [hidden]="!isShow">Editer un article</button>
  <app-edit-article [hidden]="isShow"></app-edit-article>
</div>-->
<div class="mini-block">
  <button (click)="toggleDisplay()" [hidden]="isShow">Liste des articles</button>
  <button (click)="toggleDisplay()" [hidden]="!isShow">Editer un article</button>
</div>

<div class="container">
  <app-admin-article-list [hidden]="!isShow"></app-admin-article-list>
  <app-edit-article [hidden]="isShow"></app-edit-article>
</div>
