.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  margin: 0 auto;
  //border: 2px solid crimson;
}

.mini-block {
  max-width: 600px;
  display: inline-block;
  margin: 15px;
  padding: 5px;
  background-color: yellow;
  //border: 2px solid green;
}

#m-b-framework {
  background: yellow;
}
#m-b-langage {
  background: yellowgreen ;
}
#m-b-competence {
  background: lightskyblue;
}
#m-b-qualite {
  background: palegreen;
}
#m-b-savoir {
  background: gold;
}

