<div class="container">
  <div class="mini-block">
    <h3>Technologies</h3>
    <p>Angular</p>
    <p>Node.js</p>
    <p>Strapi</p>
  </div>
  <div class="mini-block">
    <h3>Compétences</h3>
    <p>Concevoir et développer une application, un site web</p>
    <p>Intégrer une maquette graphique</p>
    <p>Réaliser l'ensemble de la partie graphique d'une interface web et mobile</p>
  </div>
  <div class="mini-block">
    <h3>Qualités</h3>
    <p>Curiosité</p>
    <p>Créativité</p>
    <p>Pédagogie</p>
  </div>
</div>
