

<div class="container">
  <div class="mini-block" id="m-b-framework">
    <h3>Frameworks</h3>
    <p *ngFor="let framework of frameworks">{{framework}}</p>
  </div>
  <div class="mini-block" id="m-b-langage">
    <h3>Langages</h3>
    <p *ngFor="let langage of langages">{{langage}}</p>
  </div>
  <div class="mini-block" id="m-b-competence">
    <h3>Compétences</h3>
    <p *ngFor="let competence of competences">{{competence}}</p>
  </div>
  <div class="mini-block" id="m-b-qualite">
    <h3>Qualités</h3>
    <p *ngFor="let qualite of qualites">{{qualite}}</p>
  </div>
  <div class="mini-block" id="m-b-savoir">
    <h3>Savoir-être</h3>
    <p *ngFor="let savoirE of savoirEtre">{{savoirE}}</p>
  </div>
</div>
