



<div (click)="pixel = !pixel">
  <div class="pix-black"></div>
</div>

<div class="container" *ngIf="pixel">
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pixel"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pixel"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pixel"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pixel"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pixel"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pixel"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
  <div class="mini-block">
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
    <div class="pix-black"></div>
  </div>
</div>
