.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  margin: 0 auto;
  //border: 2px solid crimson;
}

.mini-block {
  display: inline-block;
  margin: 15px;
  padding: 5px;
  background-color: yellow;
  color: black;
  //border: 2px solid green;
}

a {
  text-decoration: none;
  outline: none;
}

